<template>
	<div>
		<div class="header">
			<blur url="https://o3e85j0cv.qnssl.com/tulips-1083572__340.jpg" :height="134">
				<cell>
					<template slot="icon">
						<img style="float: left;" src="./assets/header.png" width="64" height="64">
						<div style="float: left;margin-left: 16px;">
							<p style="margin: 2px 0 8px 0;font-size: 16px;">粥品香坊(回龙观)</p>
							<p style="margin-bottom: 10px;line-height: 12px;font-size: 12px;">蜂鸟转送/38分钟送达</p>
							<p style="line-height: 12px;font-size: 10px;">在线支付满28减5</p>
						</div>
						<p style="position:absolute;right:20px;bottom:10px;border:1px solid #ccc;border-radius:5px;background:rgba(0,0,0,0.2)gray;color: #fff;">5个 ></p>
					</template>
				</cell>
				<div style="margin-top: 20px;height: 28px;line-height: 28px;padding: 0 22px 0 12px;background:rgba(7,17,27,0.2);font-size:10px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">公告: 粥品香坊，其烹饪周燎的秘方源于中国千年古法。你就是个逗bbbbb。你就是个逗bbbbb。你就是个逗bbbbb。你就是个逗bbbbb。你就是个逗bbbbb。你就是个逗bbbbb。你就是个逗bbbbb。</div>
			</blur>
		</div>
		<flexbox style="text-align: center;" justify="space-around" align="center" :gutter="20" wrap="wrap">
			<flexbox-item :class="{'tabSelected': choose1, 'tab': noChoose1}" @click.native="test(0)">商品</flexbox-item>
			<flexbox-item :class="{'tabSelected': choose2, 'tab': noChoose2}" @click.native="test(1)">评论</flexbox-item>
			<flexbox-item :class="{'tabSelected': choose3, 'tab': noChoose3}" @click.native="test(2)">商家</flexbox-item>
		</flexbox>
		<!--上面配三个点击div-->
		<!--<router-view></router-view>-->
		<!--如果出现默认就显示的部分，就应该联想到动态组件-->
		<component :is="view"></component>
	</div>
</template>

<style>
	.header{
		color:#fff;
	}
	.tab{
		color: #7e8c8d
	}
	.tabSelected{
		color: red
	}	
</style>

<script>
	import { Blur, Cell, Flexbox, FlexboxItem, Group } from 'vux'
	export default {
		components: {
			Group,
			Blur,
			Cell,
			Flexbox,
			FlexboxItem,
			goods: require('./Goods'),
			goods2: require('./Goods2'),
			goods3: require('./Goods3')
		},
		data () {
			return {
				// style
				// 默认第一项样式
				choose1: true,
				noChoose1: false,
				choose2: false,
				noChoose2: true,
				choose3: false,
				noChoose3: true,
				// dynamic component
				view: 'goods'
			}
		},
		methods: {
			test (index) {
				let that = this
				switch (index) {
					case 0:
						that.$data.view = 'goods'
						that.$data.choose1 = true
						that.$data.noChoose1 = false
						that.$data.choose2 = false
						that.$data.noChoose2 = true
						that.$data.choose3 = false
						that.$data.noChoose3 = true
						break
					case 1:
						that.$data.view = 'goods2'
						that.$data.choose1 = false
						that.$data.noChoose1 = true
						that.$data.choose2 = true
						that.$data.noChoose2 = false
						that.$data.choose3 = false
						that.$data.noChoose3 = true
						break
					case 2:
						that.$data.view = 'goods3'
						that.$data.choose1 = false
						that.$data.noChoose1 = true
						that.$data.choose2 = false
						that.$data.noChoose2 = true
						that.$data.choose3 = true
						that.$data.noChoose3 = false
						break
				}
			}
		}
	}
</script>